[Unit]
Description=Milter to reject mails based on DMARC headers

[Service]
Type=exec
ExecStart=/usr/local/bin/dmarcator
Restart=on-failure
User=dmarcator
RuntimeDirectory=dmarcator

# Make sure to forward logs to syslog with the correct facility
StandardError=journal
SyslogFacility=mail

[Install]
WantedBy=multi-user.target
